name: CI Workflow

on:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: yarn
      - run: yarn compile
      - run: yarn lint

      - name: Get VS Code versions
        run: curl --output vscode-stable-versions.json https://update.code.visualstudio.com/api/releases/stable
      - uses: actions/cache@v1
        with:
          path: .vscode-test/
          key: vscode-test-${{ hashFiles('vscode-stable-versions.json') }}
          restore-keys: vscode-test-

      - run: xvfb-run -a yarn vscode-test
